// Button / CTA
.button,
button {
  color: #ffffff;
  display: inline-block;
  text-decoration: none;
  border: 2px solid #ffffff;
  border-radius: 30px;
  padding: 10px 35px;
  font-family: $primary-font;
  font-size: 22px;
  background-color: transparent;
}

button :hover {
  background-color: $marker-color;
}

// nav //
.nav-button {
  padding: 10px 65px;
}

.nav-button:hover {
  background-color: $marker-color;
  color: #ffffff;
}

.nav-list {
  float: left;
  margin: 40px 0 0 50px;

  dt, dd {
    display: inline-block;
    margin: 0 10px;
  }
}
// nav end //

.article-button {
  color: $headline-secondary-color;
  border: 2px solid $headline-secondary-color;
  font-size: 14px;
}

.article-button:hover {
  background-color: $headline-secondary-color;
  color: #ffffff;
  border-color: #ffffff;
}

.mod--tags {
  overflow: hidden;
}

.tag-list {
  float: left;

  + .tag-list {
    margin-left: 25px;
  }

  dt, dd {
    display: inline-block;
    margin: 0 3px;
  }

  dt {
    color: $headline-secondary-color;
    margin-right: 10px;
  }
}
