// Button / CTA
.button,
button {
  color: $font-color;
  display: inline-block;
  text-decoration: none;
  border: 2px solid $font-color;
  border-radius: 30px;
  padding: 10px 35px;
  font-family: $primary-font;
  font-size: 22px;
  background-color: transparent;
}

button :hover {
  background-color: $marker-color;
}

// NAV BUTTON START //
.nav-button {
  padding: 10px 65px;
  transition: background 400ms cubic-bezier(0.5, 0.25, 0.58, 0.85);
}

.nav-button:hover {
  background-color: $marker-color;
  color: $font-color;
}

.nav-list {
  float: right;
  margin: 40px 0 0 0;

  li {
    display: inline-block;
    margin: 0 10px;
  }
}
// NAV BUTTON END//


// BLOGPOST TAG BUTTON START //
.tag-button {
  transition: background 400ms cubic-bezier(0.5, 0.25, 0.58, 0.85);
  color: $headline-secondary-color;
  border: 2px solid $headline-secondary-color;
  font-size: 14px;
}

.tag-button:hover {
  background-color: $headline-secondary-color;
  color: $font-color;
  border-color: $font-color;
}

.mod--tags {
  overflow: hidden;
}

.tag-list {
  float: left;

  + .tag-list {
    margin-left: 25px;
  }

  dt, dd {
    display: inline-block;
    margin: 0 3px;
  }

  dt {
    color: $headline-secondary-color;
    margin-right: 10px;
  }
}
// BLOGPOST TAG BUTTON END //


// KOMMENTAR BUTTON START //
.comment-button:hover {
  background-color: $primary-color;
  color: $font-color;
  border: 2px solid $font-color;
  transition: background 400ms cubic-bezier(0.5, 0.25, 0.58, 0.85);
}

.comment-button {
  color: $primary-color;
  display: inline-block;
  text-decoration: none;
  border: 2px solid $primary-color;
  border-radius: 30px;
  padding: 10px 35px;
  font-family: $primary-font;
  font-size: 22px;
  background-color: transparent;
}

.comment-button--send {
  margin: 20px 0 20px 0;
}
// KOMMENTAR BUTTON END//


// UEBERSICHT BLOG BUTTON START //
.blog-button {
  text-align: center;
}

.blog-button:hover {
  background-color: $marker-color;
  color: $font-color;
  transition: background 400ms cubic-bezier(0.5, 0.25, 0.58, 0.85);
}

.blog-button--wrapper {
  text-align: center;
  padding: 0 0 20px 0;
}

.blog-button-date {
 color: $secondary-color;
}
// UEBERSICHT BLOG BUTTON END //
