.grid--wrapper {
  overflow: hidden;
}

.grid {
  position: relative;

  img {
    width: 100%;
    height: auto;
    display: block;
  }
}

.grid-sizer,
.grid-item {
   width: 50%;
}

.grid-item--width2 {
  // width: 50%;
}

.grid-item--inner {
  padding: 10px;
}

@media screen and (min-width: 560px) {

  .grid-sizer,
  .grid-item {
    width: 33.333%;
  }

}