// Farben
$primary-color: #a9dca7 !default;
$secondary-color: #4fb7b7 !default;
$background-color: #393939 !default;

// Text
$font-color: #ffffff !default;
$marked-text: $secondary-color !default;

body {
  background: $background-color;
}

// Button / CTA
a,
button {
  color: $secondary-color;
  display: block;
}
