// Farben
$primary-color: #a9dca7 !default;
$secondary-color: #4fb7b7 !default;
$marker-color: #cccc77 !default;

$background-color: #191919 !default;

// Text
$font-color: #ffffff !default;
$marked-text: $secondary-color !default;

body {
  background: $background-color;
}

.row {
  display: block;
  float: left;
  margin: 1% 2% 1% 2%;
}

.blog-size {
  display: block;
  float: left;
  width: 60%;
}

.logo {

  img {
    float: left;
  }
}

.article-headline {
  text-align: center;
}