body {
  background: $background-color;
}

main {
  max-width: 1300px;
  margin: 0 auto;
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.row {
  display: block;
  margin: 1% 2% 1% 2%;
  overflow: hidden;
}

.logo {
  display: block;
  float: left;
}

// BLOGPOST START //
.super-geile-mega-krasse-image-wrapper-klasse {
  text-align: center;
}

.article-headline {
  text-align: center;
}
// BLOGPOST END //


// BLOG KOMMENTAR START //
.comment-wrapper {
  border-style: solid;
  border-radius: 50px;
  width: 50%;
}

.comment_field {
  padding: 10px 20px 10px 20px;
}

.comment-field--text {
  border-style: none;
  overflow: auto;
  resize: none;
  outline: none;
  width: 590px;
  height: 250px;
  background-color: $background-color;
  font-family: $primary-font;
  color: $font-color;
  font-size: $text-size;
}

.comment-name {
  border-style: solid;
  border-radius: 35px;
  width: 20%;
  margin: 20px 0 20px 0;
  padding: 10px 45px 10px 17px;
}

.comment-name--input {
  border-style: none;
  overflow: auto;
  resize: none;
  outline: none;
  background-color: $background-color;
  font-family: $primary-font;
  font-size: $text-size;
  color: $font-color;
}

.comment-email {
  border-style: solid;
  border-radius: 35px;
  width: 20%;
  margin: 20px 0 20px 0;
  padding: 10px 45px 10px 17px;
}

.comment-email--input {
  border-style: none;
  overflow: auto;
  resize: none;
  outline: none;
  background-color: $background-color;
  font-family: $primary-font;
  font-size: $text-size;
  color: $font-color;
}
// BLOG KOMMENTAR END //


// UEBERSICHT BLOG START //
.image--wrapper {
  overflow: hidden;
}

.inner-content {
  padding: 0 20px 20px;
}

.wrapper--blog {
  transition: background $global-animation-speed cubic-bezier(0.5, 0.25, 0.58, 0.85);
  background-color: $secondary-background-color;

  img {
    transition: filter $global-animation-speed ease;
    display: block;
  }

  &:hover {
    background-color: $hover-background-color;

    img {
      filter: opacity(.6);
    }
  }
}

.blog-size {
  display: block;
}

.blog-box > li {
  float: left;
  width: 30%;
  padding: 0 10px;
}

.list--reset {
  list-style: none;
  margin: 0;
  padding: 0;
}