// Schriftarten:
@include font-face ('Amarillo', '../fonts/Amarillo');
@include font-face ('KING', '../fonts/KING');
@include font-face ('Pacifico', '../fonts/Pacifico');
@include font-face ('blackjack', '../fonts/blackjack-webfont');


body {
  color: $text-color;
  font-family: $primary-font;
  font-size: $text-size;
}

// HEADLINE START //
h1 {
  color: $headline-color;
  font-size: 50px;
  font-family: $headline-font;
  margin: 10px;
}

h2 {
  color: ($headline-color);
  font-size: 42px;
  font-family: $headline-font;
  margin: 10px;
}

h3 {
  color: $headline-color;
  font-size: 36px;
  font-family: $headline-font;
  margin: 10px;
}

h4 {
  color: $headline-color;
  font-size: 28px;
  font-family: $headline-font;
  margin: 10px;
}

h5 {
  color: $headline-color;
  font-size: 25px;
  font-family: $headline-font;
  margin: 10px;
}

h6 {
  color: $headline-color;
  font-size: 23px;
  font-family: $headline-font;
  margin: 10px;
}
// HEADLINE END //

a {
  color: $headline-secondary-color;
  font-family: $primary-font;
  font-size: $text-size;
  background-color: transparent;
  text-decoration: none;
}

::selection {
  color: #ffffff;
  background: #ffffb8;
}


// UEBERSICHT BLOG START//
.blog-header {
  text-align: center;

  h3 {
    margin: 10px;
  }
}
// UEBERSICHT BLOG END //