$headline-color: $primary-color !default;
$headline-secondary-color: $secondary-color !default;
$headline-size: 42px !default;
$headline-font-family: 'blackjack' !default;
$primary-font: 'KING' !default;
$font-test: 'Pacifico' !default;
$font-test_2: 'blackjack' !default;
$text-size: 16px !default;
$text-color: $font-color !default;

@include font-face ('Amarillo', '../fonts/Amarillo');
@include font-face ('KING', '../fonts/KING');
@include font-face ('Pacifico', '../fonts/Pacifico');
@include font-face ('blackjack', '../fonts/blackjack-webfont');


body {
  color: $text-color;
  font-family: $primary-font;
  font-size: $text-size;
}

h1 {
  color: $headline-color;
  font-size: $headline-size;
  font-family: $headline-font-family;
}

h2 {
  color: ($headline-color);
  font-size: 34px;
  font-family: $headline-font-family;
}

h3 {
  color: $headline-color;
  font-size: 30px;
  font-family: $headline-font-family;
}

h4 {
  color: $headline-color;
  font-size: 28px;
  font-family: $headline-font-family;
}

h5 {
  color: $headline-color;
  font-size: 25px;
  font-family: $headline-font-family;
}

h6 {
  color: $headline-color;
  font-size: 23px;
  font-family: $headline-font-family;
}

a {
  color: $headline-secondary-color;
  font-family: $primary-font;
  font-size: $text-size;
  background-color: transparent;
  text-decoration: none;
}

p {
  padding: 14px 0 14px 0;
}

::selection {
  color: #ffffff;
  background: #ffffb8;
}